{% extends "basen.html" %}
{% load static %}
{%block headpart %}
<link rel="stylesheet" href="{% static 'css/corocel.css' %}" >

{% endblock headpart%}
{% block title %}Home{% endblock title %}

{% block post %}
<div class="container mt-5 ">

      
      <!-- content -->
      <section class="py-5">
        <div class="container">
          <div class="row gx-5">
            {% for pojja in pooja %}
            <aside class="col-lg-6">
              <div class="border rounded-4 mb-3 d-flex justify-content-center">
                <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="https://upload.wikimedia.org/wikipedia/commons/3/34/%28A%29_Hindu_community_pooja_in_progress%2C_Atham_Havan_%26_Yagna%2C_Walsall%2C_England_2010.jpg">
                  <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="https://upload.wikimedia.org/wikipedia/commons/3/34/%28A%29_Hindu_community_pooja_in_progress%2C_Atham_Havan_%26_Yagna%2C_Walsall%2C_England_2010.jpg" />
                </a>
              </div>
             <div class="d-flex justify-content-center mb-3">
                <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://upload.wikimedia.org/wikipedia/commons/3/34/%28A%29_Hindu_community_pooja_in_progress%2C_Atham_Havan_%26_Yagna%2C_Walsall%2C_England_2010.jpg" class="item-thumb">
                  <img width="60" height="60" class="rounded-2" src="https://upload.wikimedia.org/wikipedia/commons/3/34/%28A%29_Hindu_community_pooja_in_progress%2C_Atham_Havan_%26_Yagna%2C_Walsall%2C_England_2010.jpg" />
                </a>
                <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://media.npr.org/assets/news/2010/05/13/picshow-8647cdf43516b2660c941c21330d461dcc8960b7.jpg?s=6" class="item-thumb">
                  <img width="60" height="60" class="rounded-2" src="https://media.npr.org/assets/news/2010/05/13/picshow-8647cdf43516b2660c941c21330d461dcc8960b7.jpg?s=6" />
                </a>
                <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://media.npr.org/assets/news/2010/05/13/picshow-8647cdf43516b2660c941c21330d461dcc8960b7.jpg?s=6" class="item-thumb">
                  <img width="60" height="60" class="rounded-2" src="https://media.npr.org/assets/news/2010/05/13/picshow-8647cdf43516b2660c941c21330d461dcc8960b7.jpg?s=6" />
                </a>
                <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big4.webp" class="item-thumb">
                  <img width="60" height="60" class="rounded-2" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big4.webp" />
                </a>
                <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big.webp" class="item-thumb">
                  <img width="60" height="60" class="rounded-2" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big.webp" />
                </a>
              </div>
              <!-- thumbs-wrap.// -->
              <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-6">
              <div class="ps-lg-3">
                <h4 class="title text-dark bg-white">
                  {{pojja.Name}}
                </h4>
                {% comment %} <div class="d-flex flex-row my-3">
                  <div class="text-warning mb-1 me-2">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span class="ms-1">
                      4.5
                    </span>
                  </div>
                   <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
                  <span class="text-success ms-2">In stock</span> 
                </div> {% endcomment %}
      
                <div class="mb-3">
                  <span class="h5">INR {{pojja.price}}</span>
                  <span class="text-muted">/per box</span>
                </div>
      
                <p>
                    {{pojja.description}}
                </p>
            </div>
            
            <a class='btn btn-primary mt-5' href="{% url 'bookpooja' pooja_id=pojja.id %}" > Book Now</a>
            </main>
          </div>
          {%endfor%}
        </div>
      </section>
      <!-- content -->
      
      <!-- Footer -->

        <!-- Section: Links  -->
    
       
      
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock post %}
{%block some %}
{% endblock some %}